body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #CCFFFF;
  color: #808080;
}

.navbar-laravel {
  background-color: #FFFFCC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #FF9999 !important;
}

.nav-link {
  color: #9999FF !important;
}

.table-dark {
  color: #9999FF;
}

.list-group-item {
  border-color: #9999FF;
  background-color: #CCFFCC;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}
.footer{
  background-color: #CCFFFFF;
  color: #000;
}